<app-nav-bar></app-nav-bar>
<div style="margin-top: 20px;">
  <div class="title-area" style="margin-left: 15px">
    <h4 class="text-left">
      <a style="color: #4264a3" routerLink="/">Home / </a>Photos
    </h4>
  </div>
  <app-slider-gallery
    [sliderPhotos]="photos"
    *ngIf="photos"
  ></app-slider-gallery>
  <section id="photos">
    <div class="container-fluid">
      <!--<div class="row">-->
      <!--<h3 class="text-center">Our Projects</h3>-->
      <!--<div class="separator separator-danger">✻</div>-->
      <!--</div>-->
      <div class="row">
        <div class="col-md-6 col-sm-6" *ngFor="let photo of photos">
          <div class="panel panel-default project-panel card">
            <div class="panel-heading project-panel-heading">
              <a class="project-title">
                <img
                  src="{{ photo.imgUrl }}"
                  height="400"
                  width="100%"
                  alt=""
                  class="img-responsive"
              /></a>
            </div>
            <div class="panel-body">
              <small>{{ photo.description }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
