
.bg-color {
    background-color: transparent
}


.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0rem !important;
}

.active-link {
    background-color: #4264a3;
    color: #ffffff !important;
  }

  address {
    margin-bottom: 0.2rem !important;
    font-size: 0.9em !important;
    font-style: normal;
    line-height: inherit;
}
