<div class="container-fluid">
  <app-nav-bar></app-nav-bar>
  <div class="row" style="margin-top: 20px">
    <div class="col-md-7">
      <address>
        <b>Phone:</b>+255 767 319 166 || 684 849 888 || 754 494 785 <br>
        <b>Email:</b>  <em><a href="mailto:info@blueskyhotel.org">info@blueskyhotel.org</a></em> || <em><a href="mailto:blueskyhotel19@gmail.com">blueskyhotel19@gmail.com</a></em><br>
        <b>P.O BOX:</b> 5175, Mhandu - Machinjioni, Mwanza - Tanzania
      </address>
      <p>
        Blue sky hotel offers affordable accommodation in Mwanza. We have a total of 14 rooms including standard rooms, and family suites. A wide range of choice is available to meet your budget when it comes to room space.
        All rooms are have satellite TV, telephone, free – Wifi and access in public areasafe deposit boxes and 24 hour room service.
        We aim to provide our clients with the highest standard of services and care in every aspect at our hotel.
      </p>
    </div>
    <div class="col-md-5">
      <div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1020380.8167224785!2d32.40675929315508!3d-2.5515944738220004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7018544c80bff7c5!2sBlue+Sky+Hotel!5e0!3m2!1sen!2stz!4v1564255666267!5m2!1sen!2stz" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
