<div class="container-fluid footer">
  <div class="row">
    <div class="col-md-5">
      <div class="contents">
        <div class="header">
          <h4>About us</h4>
        </div>
        <div>
          <p>BlueSky hotel, the best hotel you can find. We care your comfort and luxury stay</p>
          <p><a routerLink="/about-us" class="btn btn-primary read-more-btn">Read More</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="contents">
        <div class="header">
          <h4>Contacts</h4>
        </div>
        <div>
          <address>
            <b>Phone:</b>+255 767 319 166 || 684 849 888 || 754 494 785
            <b>Email:</b>  <em><a href="mailto:info@blueskyhotel.org">info@blueskyhotel.org</a></em> || <em><a href="mailto:blueskyhotel19@gmail.com">blueskyhotel19@gmail.com</a></em><br>
            <b>P.O BOX:</b> 5175, Mhandu - Machinjioni, Mwanza - Tanzania
          </address>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="copyright-message">
        <p>Copyright © 2019 All Rights Reserved || BlueSkyHotel</p>
      </div>
    </div>
  </div>
</div>