<div class="container-fluid">
  <app-nav-bar></app-nav-bar>
  <div class="row" *ngIf="selectedService == 'restaurant'" style="margin-top: 20px;">
    <div class="col-md-4">
      <h4 style="color: #4264a3">Restaurant services</h4>
      <ul>
        <li>Our Chief cook and his team are passionate to create a delicious fresh meals, includes breakfast (free), lunch and dinners. Food service offered </li>
        <li>Chips with fresh fish (fried or roasted Sato/ Sangara)</li>
        <li>Fried chicken, beef ,mishikaki, roasted chicken, food are also depends on customer order</li>
      </ul>
    </div>
    <div class="col-md-4">
      <div>
        <img src="assets/images/blueskyhotel_kitchen_1.jpg" width="100%" height="320px" style="margin-right: 2%">
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <img src="assets/images/blueskyhotel_kitchen_2.jpg" width="100%" height="320px" style="margin-right: 2%">
      </div>
    </div>
  </div>
  <!-- Beverages -->
  <div class="row" *ngIf="selectedService == 'beverages'" style="margin-top: 20px;">
      <div class="col-md-4">
        <h4 style="color: #4264a3">Beverages services</h4>
        <ul>
          <li>Our Chief cook and his team are passionate to create a delicious fresh meals, includes breakfast (free), lunch and dinners. Food service offered </li>
          <li>Chips with fresh fish (fried or roasted Sato/ Sangara)</li>
          <li>Fried chicken, beef ,mishikaki, roasted chicken, food are also depends on customer order</li>
        </ul>
      </div>
      <div class="col-md-4">
        <div>
          <img src="assets/images/blueskyhotel_kitchen_1.jpg" width="100%" height="320px" style="margin-right: 2%">
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <img src="assets/images/blueskyhotel_kitchen_2.jpg" width="100%" height="320px" style="margin-right: 2%">
        </div>
      </div>
    </div>
</div>
