<div class="container-fluid">
  <app-nav-bar></app-nav-bar>
  <div class="row" *ngIf="selectedService == 'restaurant'" style="margin-top: 20px;">
    <div class="col-md-4">
      <h4 style="color: #4264a3">Restaurant services</h4>
      <ul>
        <li>Our Chief cook and his team are passionate to create a delicious fresh meals, includes breakfast (free), lunch and dinners. Food service offered </li>
        <li>Chips with fresh fish (fried or roasted Sato/ Sangara)</li>
        <li>Fried chicken, beef ,mishikaki, roasted chicken, food are also depends on customer order</li>
      </ul>
    </div>
    <div class="col-md-4">
      <div>
        <img src="assets/images/blueskyhotel_kitchen_1.jpg" width="100%" height="320px" style="margin-right: 2%">
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <img src="assets/images/blueskyhotel_kitchen_2.jpg" width="100%" height="320px" style="margin-right: 2%">
      </div>
    </div>
  </div>
  <!-- Beverages -->
  <div class="row" *ngIf="selectedService == 'beverages'" style="margin-top: 20px;">
    <div class="col-md-2">
      <h4 style="color: #4264a3">Beverages services</h4>
      <ul>
        <li>Soft drinks</li>
        <li>Beer and wine </li>
      </ul>
    </div>
    <div class="col-md-5">
      <div>
        <img src="assets/images/blueskyhotel_font_2.jpg" width="100%" height="320px" style="margin-right: 2%">
      </div>
    </div>
    <div class="col-md-5">
      <div>
        <img src="assets/images/blueskyhotel_font_4.jpg" width="100%" height="320px" style="margin-right: 2%">
      </div>
    </div>
  </div>
  <!-- Other services -->
  <div class="row" *ngIf="selectedService == 'others'" style="margin-top: 20px;">
    <div class="col-md-4">
      <h4 style="color: #4264a3">Other services</h4>
      <ul>
        <li>Conference facility area for different function includes Weddings, Birthday part, Vikao vya harusi, sehere za Kipaimara e.t.c</li>
        <li>DSTV channels</li>
        <li>Both international games and local games via Projector</li>
        <li>Laundry services</li>
      </ul>
    </div>
    <div class="col-md-4">
      <div>
        <img src="assets/images/blueskyhotel_other_services_1.jpg" width="100%" height="320px" style="margin-right: 2%">
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <img src="assets/images/blueskyhotel_other_services_2.jpg" width="100%" height="320px" style="margin-right: 2%">
      </div>
    </div>
  </div>
</div>
